## Using Views to Simplify Queries

One of the remarkable features of the relational data model and SQL is that the result of a query is itself a table, precisely a relation. This table may consist of a single column or row, but it remains a table. A view in MySQL is essentially a query that can be utilized like a table. It can be considered as a virtual table that doesn't store data but merely holds the underlying query. Whenever a view is accessed, the query beneath it is executed, and the returned results can be treated as if they were part of an actual table.

There are [several reasons](http://www.mysqltutorial.org/create-sql-server-views.aspx) for utilizing views. One of the primary reasons is convenience, as it allows us to avoid writing lengthy and complex query sentences repeatedly. Emphasizing the DRY programming principle (Don't Repeat Yourself), using views helps save time and minimizes the chances of making unnecessary mistakes. Thus, we can store queries as reusable database views.

In MySQL, views are created using the `CREATE VIEW` statement. They can be created based on a single table, multiple tables, or even another view. Below is the basic [CREATE VIEW syntax](http://www.mysqltutorial.org/mysql-views-tutorial.aspx):

    CREATE  VIEW  view_name  AS  
    SELECT  column1, column2, ...  
    FROM  table_name  
    WHERE  [condition];`

It's important to note that MySQL views are read-only. This means you cannot use `INSERT`, `DELETE`, or `UPDATE` statements to modify data in the underlying base tables through the view. Views are primarily used for simplifying complex queries and providing a more structured and organized approach to data retrieval without modifying the original data in the database.

In [ ]:
%load_ext sql

### Connect to the database

In [ ]:
%sql mysql://root:root@localhost:3306/training

### Simplifying queries with views
#### Creating a View**

In MySQL, a view is a virtual table that is derived from the result of a SELECT query or a combination of multiple queries. It allows you to save a complex or frequently used query as a named view, making it easier to access and reuse the results of that query without rewriting the entire query each time. Views provide an abstraction layer over the underlying tables, allowing you to interact with the data in a more simplified and meaningful way.

**Syntax:**

The basic syntax for creating a view in MySQL is as follows:

	CREATE  VIEW  view_name  AS  
	SELECT  column1, column2, ...  
	FROM  table_name  
	WHERE  condition;

**Description:**

-   **CREATE VIEW:** The `CREATE VIEW` statement is used to create a new view.
    
-   **view_name:** This is the name of the view you want to create. The view_name should be unique within the database.
    
-   **AS:** The `AS` keyword is used to define the SELECT query that will be used to populate the view.
    
-   **SELECT column1, column2, ...:** The columns specified in the SELECT query will be the columns of the view. You can use column aliases and aggregate functions in the SELECT query.
    
-   **FROM table_name:** This part of the query specifies the underlying table(s) from which the view will be derived.
    
-   **WHERE condition:** The `WHERE` clause is optional and allows you to apply filtering conditions to the data in the view.
    

**Advantages of Using Views:**

-   **Data Abstraction:** Views provide an abstracted layer over the data, hiding the complexity of underlying queries and tables.
    
-   **Data Security:** Views can be used to restrict access to specific columns or rows, providing a more secure way to share data with users.
    
-   **Query Reusability:** Views allow complex or frequently used queries to be stored as a view, making it easy to reuse the query logic in various parts of the application.
    
-   **Performance Optimization:** Views can optimize queries by precalculating results, reducing the need for repeated calculations.

In [ ]:
%%sql
CREATE VIEW RCH_VW AS SELECT RCH, YR,
CASE
    WHEN (MO) BETWEEN 3 AND 5 THEN 'MAM'
    WHEN (MO) BETWEEN 6 and 8 THEN 'JJA'
    WHEN (MO) BETWEEN 9 and 11 THEN 'SON'
    ELSE 'DJF'
END Quarter,
FLOW_OUTcms
from rch

 * mysql://root:***@localhost:3306/sql-training
0 rows affected.

[]

Let's perform a query on the SSN_RCH view in MySQL.

In [ ]:
%%sql
SELECT *
FROM RCH_VW
LIMIT 5

 * mysql://root:***@localhost:3306/sql-training
5 rows affected.

[(1, 1981, 'DJF', 146.25249),
 (2, 1981, 'DJF', 96.18285),
 (3, 1981, 'DJF', 11.861368),
 (4, 1981, 'DJF', 49.406513),
 (5, 1981, 'DJF', 272.10602)]

### Recalculate seasonal runoffs using views
With MySQL, the code becomes significantly shorter and more concise.

In [ ]:
%%sql
SELECT RCH, Quarter, AVG(FLOW_OUTcms) as Runoff
FROM RCH_VW
GROUP BY RCH, Quarter
LIMIT 5

 * mysql://root:***@localhost:3306/sql-training
5 rows affected.

[(1, 'DJF', 115.516412),
 (2, 'DJF', 76.24810500000001),
 (3, 'DJF', 8.954515350000001),
 (4, 'DJF', 38.7194985),
 (5, 'DJF', 369.255585)]

### Removing Views

Deleting views is a straightforward process. You can simply drop a view using the following command.

In [ ]:
%sql DROP VIEW RCH_VW

 * mysql://root:***@localhost:3306/sql-training
0 rows affected.

[]

Views in MySQL are virtual tables that do not store data directly; instead, they consist of SQL statements. Whenever a view is accessed, these statements are executed to retrieve the required data dynamically. This dynamic nature ensures that the data in views is always fresh and up-to-date, giving them an advantage over creating subtables from a table where the data might become static and outdated.

Views offer several benefits in MySQL, which are similar to the advantages mentioned for SQLite:

-   **Abstraction Layer:** Views act as an abstraction layer over tables, allowing you to modify the view's columns without affecting the underlying table's schema.
-   **Simplifying Complex Queries:** Views can encapsulate complex queries with joins, making data access more straightforward and readable.

## **Temporary Tables**

Temporary tables are used to store and manipulate intermediate results during data processing within a database session. They are created in the tempdb database and are automatically deleted when they are no longer used or when the session that created them ends.

#### **Creating Temporary Tables**

In [ ]:
CREATE TEMPORARY TABLE temp_rch AS
SELECT RCH, YR, FLOW_INcms, FLOW_OUTcms
FROM rch
WHERE YR > 2005;

This SQL command creates a temporary table named temp_rch which contains data from the rch table for the years after 2005. This can be used for analysis or reporting purposes during a session

In [ ]:
SELECT *
FROM temp_rch;

To see the average, maximum, and minimum flow in and out values per year, run the following query:

In [ ]:
SELECT YR, AVG(FLOW_INcms) AS avg_in, MAX(FLOW_OUTcms) AS max_out, MIN(FLOW_OUTcms) AS min_out
FROM temp_rch
GROUP BY YR;

To filter records for a particular RCH value and year greater than a specific threshold, use:

In [ ]:
SELECT *
FROM temp_rch
WHERE RCH = 10 AND FLOW_INcms > 500;

If you need to update some records based on specific conditions:

In [ ]:
UPDATE temp_rch
SET FLOW_OUTcms = FLOW_INcms * 0.9
WHERE YR = 2008;

To delete records from the temporary table under certain conditions:

In [ ]:
DELETE FROM temp_rch
WHERE YR < 2010;

### **Temporary Tables vs Views**

- **Persistence**: Temporary tables exist only during the database session that created them, while views are stored in the database schema and persist beyond the session.
- **Performance**: Inserting, updating, and deleting operations in temporary tables can be faster because they are essentially independent from the underlying database tables and can be optimized in isolation. Views, however, depend on the real-time execution of their underlying query.
- **Usage**: Temporary tables are ideal for complex processing, such as when large datasets need to be repeatedly accessed in multiple steps. Views are better suited for simplifying complex queries, improving readability, and ensuring data consistency across multiple queries.


#### **Choosing Between Temporary Tables and Views**

- Choose temporary tables when working with large data transformations and interim steps in data processing. Opt for views when you need a consistent and clear definition of data that can be reused across multiple applications or reports.

## **End of Exercise**